.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 2;
}

.lnr-cart {
    width: 1.5em;
    height: 1.5em;
}

.lnr-magnifier {
    color: #000000;   
}

.navbar-nav li {
    margin-right: 3em;
}

section {
    margin-top: 40px;
}

.h {
    text-align: center;
}

.card-body {
    align-content: center;
}

footer {
    margin-top: 60px;
    padding: 5em;
}

.jumbotron {
    background-image: url("jumbotron_pilt.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
}

.lnr {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
}
  
.lnr-camera {
    font-size: 40px;
    color: black;
}

.lnr-film-play {
    font-size: 40px;
    color: black;
}

.carousel .carousel-item {
    height: 450px;
  }
  
.carousel-item img {
    position: absolute;
    object-fit: cover;
    min-height: 450px;
}